[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"

[dev-packages]
speechrecognition = "*"
pyaudio = "*"
requests = "*"
simpleaudio = "*"
openai = "*"
python-dotenv = "*"
flask = "*"

[requires]
python_version = "3.10"

[scripts]
start = "pipenv run python ./main.py"
dev = "pipenv run python ./test.py"
